/* THEMATIC STYLING ELEMENTS */
:root {
    --khaki: #B7B3A1;
    --sage: #D1CA98;
    --buff: #EDBF85;
    --maize: #F7F06D;
    --orange: #FFB140;
    --black: rgb(18, 18, 18);
    --green: forestgreen;
    --cursive: 'Gloria Hallelujah', cursive;
    --sans: 'Recursive', sans-serif;
    --rounded: 20px;
    --shadow: var(--khaki) 0px 10px 36px 0px, var(--orange) 0px 0px 0px 1px;
}


/* UNIVERSAL STYLING ELEMENTS */
* {
    font-family: var(--sans);
}

h1,
h2,
h3 {
    font-family: var(--cursive);
    font-weight: bolder;
    font-size: 30px;
}

h4,
h5,
h6 {
    font-size: 120%;
    font-weight: 900;
}


/* TOP BLOCK */
.hero-body {
    background-color: var(--orange);
    padding: 2%;
}


/* MIDDLE BLOCK */
.middle-block {
    background-color: var(--maize);
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
}

.recent-searches {
    background-color: var(--sage);
    padding: 2%;
    height: 400px;
    overflow: scroll;
    border-radius: var(--rounded);
    margin: 10px;
    box-shadow: var(--shadow);
}

.recipe-block {
    background-color: var(--buff);
    padding: 2%;
    border-radius: var(--rounded);
    margin: 10px;
    box-shadow: var(--shadow);

}

.recipe-title {
    padding-bottom: 5%;
}

.recipe-instructions {
    height: 200px;
    overflow: scroll;
}

.recipe-instruction li {
    font-size: 75%;
    list-style: square;
}


/* BOTTOM BLOCK */
.youtube-block {
    background-color: var(--khaki);
    padding: 2%;
}

.video-embed {
    padding: 10px;
}

.video-embed .card-header {
    background-color: #ffaf4087;
}

@media (max-width: 560px) {
    .middle-block {
        display: block;
    }
}