/* THEMATIC STYLING ELEMENTS */
:root {
    --khaki: #B7B3A1;
    --sage: #D1CA98;
    --buff: #EDBF85;
    --maize: #F7F06D;
    --orange: #FFB140;
    --black: rgb(18, 18, 18);
    --green: forestgreen;
    --cursive: 'Gloria Hallelujah', cursive;
    --sans: 'Recursive', sans-serif;
   --rounded: 20px;
   --shadow: var(--khaki) 0px 10px 36px 0px, var(--orange) 0px 0px 0px 1px;
   --border-radius: var(--rounded);
   --box-shadow: var(--shadow);


   
}

/* UNIVERSAL STYLING ELEMENTS */
* {
    font-family: var(--sans);
}

h1 {
    font-family: var(--cursive);
    font-weight: bolder;
    font-size: 65px;
    line-height: 0.8;
    
}

h2,
h3 {
    font-family: var(--cursive);
    font-weight: bolder;
    font-size: 30px;
}

h4,
h5,
h6 {
    font-size: 120%;
    font-weight: 900;
}

h7 {
    font-family: var(--cursive);
    font-weight: bolder;
    font-size: 60px;
    line-height: 0.8;
    margin-left: 5%;
    margin-bottom: 30px;
}


/* TOP BLOCK */
.hero-body {
    background-color: var(--orange);
    padding: 2%;
  
}

.hero-body h4 {

    line-height: 30px;
    margin: 0px;
    padding: 0px;
    border-radius: var(--border)   
    }

    #lemon-icon {
height: 30px

    }

#user-input {
    width: 300px;
    height: 40px;
    border-radius: var(--border-radius);
    margin-top: 20px;
}

#search {
margin-top: 10px;
}


/* MIDDLE BLOCK */
.middle-block {
    background-color: var(--maize);
    padding: 2%;
}

.recent-searches {
    background-color: var(--sage);
    padding: 2%;
}

.recipe-block {
    background-color: var(--buff);
    padding: 2%;
}

.recipe-instructions {
    height: 200px;
    overflow: scroll;
}

.recipe-instruction li {
    font-size: 75%;
    list-style: square;
}


/* BOTTOM BLOCK */
.youtube-block {
    background-color: var(--khaki);
    padding: 2%;
}

.video-embed {
    padding: 10px;
}

.video-embed .card-header {
    background-color: #ffaf4087;
}